@font-face {
    font-family: 'MPLUS-bold';
    src:
    url('/fonts/MPLUS1Code-Bold.woff2') format('woff2'),
    url('/fonts/MPLUS1Code-Bold.woff') format('woff'),
    url('/fonts/MPLUS1Code-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUS-medium';
    src:
    url('/fonts/MPLUS1Code-Medium.woff2') format('woff2'),
    url('/fonts/MPLUS1Code-Medium.woff') format('woff'),
    url('/fonts/MPLUS1Code-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUS-regular';
    src:
    url('/fonts/MPLUS1Code-Regular.woff2') format('woff2'),
    url('fonts/MPLUS1Code-Regular.woff') format('woff'),
    url('/fonts/MPLUS1Code-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUS-thin';
    src:
    url('/fonts/MPLUS1Code-Thin.woff2') format('woff2'),
    url('/fonts/MPLUS1Code-Thin.woff') format('woff'),
    url('/fonts/MPLUS1Code-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
html {
    font-family: 'MPLUS-regular';
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: rgb(223, 245, 255);
}
.page {
    max-width: 1400px;
    background-color: rgb(211, 236, 216);
    min-height: 100vh;
    margin: 0 auto;
    padding: 40px 150px;
    position: relative;
}
/*
 █████   █████ ██████████   █████████   ██████████  
▒▒███   ▒▒███ ▒▒███▒▒▒▒▒█  ███▒▒▒▒▒███ ▒▒███▒▒▒▒███ 
 ▒███    ▒███  ▒███  █ ▒  ▒███    ▒███  ▒███   ▒▒███
 ▒███████████  ▒██████    ▒███████████  ▒███    ▒███
 ▒███▒▒▒▒▒███  ▒███▒▒█    ▒███▒▒▒▒▒███  ▒███    ▒███
 ▒███    ▒███  ▒███ ▒   █ ▒███    ▒███  ▒███    ███ 
 █████   █████ ██████████ █████   █████ ██████████  
▒▒▒▒▒   ▒▒▒▒▒ ▒▒▒▒▒▒▒▒▒▒ ▒▒▒▒▒   ▒▒▒▒▒ ▒▒▒▒▒▒▒▒▒▒   
*/

.palka {
    position: absolute;
    transform-origin:bottom center ;
}
.m {
    top: 150px;
    left: 335px;
    animation: big 60s 5s infinite both linear;
}
.b  {
    top: 30px;
    left: 268px;
    animation: big 5s 5s infinite both linear;
}
@keyframes big {
    0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(90deg);
  }
  50% {
    transform: rotate(180deg);
  }
  75% {
    transform: rotate(270deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
h1 {
    font-family: 'MPLUS-bold'; 
}
.t {
    position: absolute;
    top: 235px;
    left: 350px;
}