@font-face {
    font-family: 'MPLUS-bold';
    src:
    url('/fonts/MPLUS1Code-Bold.woff2') format('woff2'),
    url('/fonts/MPLUS1Code-Bold.woff') format('woff'),
    url('/fonts/MPLUS1Code-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUS-medium';
    src:
    url('/fonts/MPLUS1Code-Medium.woff2') format('woff2'),
    url('/fonts/MPLUS1Code-Medium.woff') format('woff'),
    url('fonts/MPLUS1Code-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUS-regular';
    src:
    url('/fonts/MPLUS1Code-Regular.woff2') format('woff2'),
    url('fonts/MPLUS1Code-Regular.woff') format('woff'),
    url('/fonts/MPLUS1Code-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUS-thin';
    src:
    url('/fonts/MPLUS1Code-Thin.woff2') format('woff2'),
    url('/fonts/MPLUS1Code-Thin.woff') format('woff'),
    url('/fonts/MPLUS1Code-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
html {
    font-family: 'MPLUS-regular';
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: rgb(227, 238, 243);
}
.page {
    max-width: 1400px;
    background-color: rgb(11, 149, 173);
    min-height: 100vh;
    margin: 0 auto;
    padding: 40px 150px;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
}
/* ------------------------------------- */
table {
    /* border: 2px solid black;
    width: 1000px;
    height: 700px; */
    font-family: 'MPLUS-bold';
    border-collapse: collapse;
}
th, td {
    border: 2px solid black;
    width: 200px;
    height: 200px;
}
/* .shapka th {
    background-color: rgb(18, 223, 70); 
    color: rgb(196, 27, 27);
}
#item {
    background-color: crimson;
    color: rgb(4, 42, 114);
    vertical-align: bottom;
    text-align: right;
} */
/* .row_olive {
    background-color: olive;
}
.col_red {
    background-color: red;
} */