* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-size: 30px;
}
body {
    padding: 50px 50px;
    background-color: rgba(196, 194, 195, 0.616);
}
.red {
    color: darkred;
    font-style: italic;
}
.h1 {
    text-align: center;
    font-size: 40px;
}
.h2 {
    font-weight: bold;
}
.p {
    margin-top: 10px;
    margin-bottom: 10px ;
}
.form{
    padding: 10px ;
    background-color: rgba(252, 37, 109, 0.712);
    display:block;
    margin: 0 auto;
    width: fit-content;}
a { 
    padding: 10px 5px;
    background-color:rgba(158, 157, 157, 0.616);
    border: 1px solid black;
    color: black;
    font-style: normal;
    
}