* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-size: 60px;
    background-color: gainsboro;
}
body {
    padding: 100px  200px;
}
.p {
    margin-top: 20px;
    margin-left: 6px;
    margin-bottom: 20px;
    margin-right: 20px;
}
.r {
    color: red;
    border: 2px solid black;
    background-color: rgb(172, 170, 170);
    padding: 5px;
    margin: 15px 6px;
    width: 25px;
    height: 25px;
}
.b {
    color: black;
    border: 2px solid black;
    background-color: rgb(172, 170, 170);
    padding: 5px;
    margin: 15px 6px;
    width: 25px;
    height: 25px;
}
.btn {
    border: 2px solid black;
    background-color: greenyellow;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 20px;
    color: red;
    text-decoration: none;
}