/* * {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
/* } */ 
/* !Не делал тк слетает все! */
body {
    background-color: gainsboro;
    margin: 100px 400px;
}
.h1 {
    text-align: center;
    color: black;
}
.h2 {
    color: black;
    text-align: center;
}
.span_bold {
    font-weight: bold;
}
.span_red {
    color: rgb(172, 2, 2);
}
.span_last {
    background-color: rgb(194, 192, 192);
    color: darkcyan;
}
.div {
    border: 2px solid black;
    background-color:rgb(194, 192, 192);
    padding: 10px 15px;
}
.span1 {
    padding-left: 30px;
}
.span2 {
    padding-left: 60px;
}
.btn {
    border: 2px solid black;
    background-color: greenyellow;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 20px;
    color: red;
    text-decoration: none;
}
