*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body   {
    background-color: darkcyan;
    padding: 40px 200px;
}
.h1 {
    color: burlywood;
    margin-bottom: 30px;
}
.p  {
    color: rgb(5, 226, 53);
    font-size: 22px;
    margin-bottom: 24px;
}
.btn {
    /* width: 100px; */
    font-size: 20px;
    padding: 10px 30px;
}
.hr {
    border: 2px solid blue;
    
}
.card {
    /* box-sizing: border-box; */
    width: 300px;
    height: 300px;
    border: 2px solid black;
    background-color: greenyellow;
    padding: 10px;
}
.card_img {
    width: 200px;
    margin-left: 31px;
}

.card_p {
    font-size: 30px;
}
