@font-face {
    font-family: 'MPLUS-bold';
    src:
    url('/fonts/MPLUS1Code-Bold.woff2') format('woff2'),
    url('/fonts/MPLUS1Code-Bold.woff') format('woff'),
    url('/fonts/MPLUS1Code-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUS-medium';
    src:
    url('/fonts/MPLUS1Code-Medium.woff2') format('woff2'),
    url('/fonts/MPLUS1Code-Medium.woff') format('woff'),
    url('/fonts/MPLUS1Code-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUS-regular';
    src:
    url('/fonts/MPLUS1Code-Regular.woff2') format('woff2'),
    url('fonts/MPLUS1Code-Regular.woff') format('woff'),
    url('/fonts/MPLUS1Code-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUS-thin';
    src:
    url('/fonts/MPLUS1Code-Thin.woff2') format('woff2'),
    url('/fonts/MPLUS1Code-Thin.woff') format('woff'),
    url('/fonts/MPLUS1Code-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
html {
    font-family: 'MPLUS-regular';
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: rgb(223, 245, 255);
}
.page {
    max-width: 1400px;
    background-color: rgb(211, 236, 216);
    min-height: 100vh;
    margin: 0 auto;
    padding: 40px 150px;
}
.title {
    margin-bottom: 30px;
}
.block {
    border: 4px solid rgb(255, 0, 0);
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    flex-wrap: wrap;
    /* gap: 30px; */
    max-width: 1900px;
    /* height: 500px; */
    /* align-items: flex-end; */
    /* align-content: space-between; */
}
.box {
    border: 2px solid black;
    background-color: lightcoral;
    padding: 20px;
    width: 150px;
    height: 150px;
    text-align: center;
    flex-grow: 1;
    /* flex-shrink: 0; */
    flex-basis: 200px;
}
.text {
    margin-top: 30px;
    font-size: 22px;
    line-height: 1.7;
    text-align: justify ;
}
/* .b1 {
    flex-grow: 1;
    flex-shrink: 0;
}
.b2 {
    flex-grow: 3;
    flex-shrink: 2;
} */
.b4{
    align-self: flex-start ;
}