@font-face {
    font-family: 'MPLUS-bold';
    src:
    url('/fonts/MPLUS1Code-Bold.woff2') format('woff2'),
    url('/fonts/MPLUS1Code-Bold.woff') format('woff'),
    url('/fonts/MPLUS1Code-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUS-medium';
    src:
    url('/fonts/MPLUS1Code-Medium.woff2') format('woff2'),
    url('/fonts/MPLUS1Code-Medium.woff') format('woff'),
    url('/fonts/MPLUS1Code-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUS-regular';
    src:
    url('/fonts/MPLUS1Code-Regular.woff2') format('woff2'),
    url('fonts/MPLUS1Code-Regular.woff') format('woff'),
    url('/fonts/MPLUS1Code-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'MPLUS-thin';
    src:
    url('/fonts/MPLUS1Code-Thin.woff2') format('woff2'),
    url('/fonts/MPLUS1Code-Thin.woff') format('woff'),
    url('/fonts/MPLUS1Code-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
html {
    font-family: 'MPLUS-regular';
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
    background-color: rgb(223, 245, 255);
}
.page {
    max-width: 1400px;
    background-color: rgb(211, 236, 216);
    min-height: 100vh;
    margin: 0 auto;
    padding: 40px 150px;
}
.btn {
    font-size: 22px;
    padding: 10px 30px;
    margin-bottom: 40px;
    animation: shadow2 5s infinite alternate;
}
.block {
    width: 200px;
    height: 200px;
    background-color: goldenrod;
    color: whitesmoke;
    padding: 20px;
}
.btn:hover ~ .block {
    animation: run 0.3s infinite;
}

@keyframes run {
    0% {
        transform: translate(0px, 0px);
    }
    25% {
        transform: translate(800px, 0px);
    }
    50% {
        transform: translate(800px, 300px);
    }
    75% {
        transform: translate(0px, 300px);
    }
    100% {
        transform: translate(0px, 0px);
    }
}
@-webkit-keyframes shadow {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}
@keyframes shadow2 {
  0% {
    -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
            box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
    -webkit-transform: translateX(0) translateY(0);
            transform: translateX(0) translateY(0);
  }
  100% {
    -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
            box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
    -webkit-transform: translateX(-8px) translateY(8px);
            transform: translateX(-8px) translateY(8px);
  }
}













/*
 /$$      /$$  /$$$$$$  /$$$$$$ /$$   /$$
 | $$$    /$$$ /$__  $$|_  $_/| $$$ | $$
 | $$$$  /$$$$| $$  \ $$  | $$  | $$$$| $$
 | $$ $$/$$ $$| $$$$$$$$  | $$  | $$ $$ $$
 | $$  $$$| $$| $__  $$  | $$  | $$  $$$$
 | $$\  $ | $$| $$  | $$  | $$  | $$\  $$$
 | $$ /  | $$| $$  | $$ /$$$$$$| $$ \  $$
 |__/     |__/|__/  |__/|______/|__/  \__/
*/

/*
 /$$      /$$  /$$$$$$  /$$$$$$ /$$   /$$
| $$$    /$$$ /$__  $$|_  $_/|  $$$  |$$$
| $$$$  /$$$$| $$  \ $$  | $$  | $$| $$$
| $$ $$/$$ $$| $$$$$$$$  | $$  | $$ $$ $$
| $$  $$$| $$| $__  $$  | $$  | $$  $$$$
| $$\  $ | $$| $$  | $$  | $$  | $$\  $$$
| $$ \/  | $$| $$  | $$ /$$$$$$| $$ \  $$
|__/     |__/|__/  |__/|______/|__/  \__/
*/

/*
 /$$      /$$           /$$          
| $$$    /$$$          |__/          
| $$$$  /$$$$  /$$$$$$  /$$ /$$$$$$$ 
| $$ $$/$$ $$ |____  $$| $$| $__  $$
| $$  $$$| $$  /$$$$$$$| $$| $$  \ $$
| $$\  $ | $$ /$__  $$| $$| $$  | $$
| $$ \/  | $$|  $$$$$$$| $$| $$  | $$
|__/     |__/ \_______/|__/|__/  |__/
*/
/*
$$\      $$\           $$\           
$$$\    $$$ |          \__|          
$$$$\  $$$$ | $$$$$$\  $$\ $$$$$$$\  
$$$$$$ $$ | \____$$\ $$ |$$  __$$\ 
$$ $$$  $$ | $$$$$$$ |$$ |$$ |  $$ |
$$ |$  /$$ |$$  __$$ |$$ |$$ |  $$ |
$$ | \_/ $$ |$$$$$$$ |$$ |$$ |  $$ |
\__|     \__| \_______|\__|\__|  \__|
*/

/*
                      $$\           
                      \__|          
$$$$$$$$$$\   $$$$$$\  $$\ $$$$$$$\  
$$  _$$  _$$\  \____$$\ $$ |$$  __$$\ 
$$ / $$ / $$ | $$$$$$$ |$$ |$$ |  $$ |
$$ | $$ | $$ |$$  __$$ |$$ |$$ |  $$ |
$$ | $$ | $$ |$$$$$$$ |$$ |$$ |  $$ |
\__| \__| \__| \_______|\__|\__|  \__|
*/


/*
$$     $$ $$$$$$ $$$$$$$$  $$
$$$   $$$ |$$  __$$$$  _|$$$ $$ |
$$$$ $$$$ |$$ /  $$ |  $$ |  $$$$$$ |
$$$$ $$ |$$$$$$$$ |  $$ |  $$ $$$ |
$$ $$  $$ |$$  __$$ |  $$ |  $$ $$$ |
$$ |  /$$ |$$ |  $$ |  $$ |  $$ |$$ |
$$ | / $$ |$$ |  $$ |$$$$$$$$ | $ |
_|     _|_|  _|_____|_|  _|
*/
/*

 ██████   ██████   █████████   █████ ██████   █████
▒▒██████ ██████   ███▒▒▒▒▒███ ▒▒███ ▒▒██████ ▒▒███
 ▒███▒█████▒███  ▒███    ▒███  ▒███  ▒███▒███ ▒███
 ▒███▒▒███ ▒███  ▒███████████  ▒███  ▒███▒▒███▒███
 ▒███ ▒▒▒  ▒███  ▒███▒▒▒▒▒███  ▒███  ▒███ ▒▒██████
 ▒███      ▒███  ▒███    ▒███  ▒███  ▒███  ▒▒█████
 █████     █████ █████   █████ █████ █████  ▒▒█████
▒▒▒▒▒     ▒▒▒▒▒ ▒▒▒▒▒   ▒▒▒▒▒ ▒▒▒▒▒ ▒▒▒▒▒    ▒▒▒▒▒
*/
/*
    ███████     █████    █████                        
  ███▒▒▒▒▒███  ▒▒███    ▒▒███                         
 ███     ▒▒███ ███████   ▒███████    ██████  ████████ 
▒███      ▒███▒▒▒███▒    ▒███▒▒███  ███▒▒███▒▒███▒▒███
▒███      ▒███  ▒███     ▒███ ▒███ ▒███████  ▒███ ▒▒▒ 
▒▒███     ███   ▒███ ███ ▒███ ▒███ ▒███▒▒▒   ▒███     
 ▒▒▒███████▒    ▒▒█████  ████ █████▒▒██████  █████    
   ▒▒▒▒▒▒▒       ▒▒▒▒▒  ▒▒▒▒ ▒▒▒▒▒  ▒▒▒▒▒▒  ▒▒▒▒▒     
*/
/*
 █████   █████ ██████████   █████████   ██████████  
▒▒███   ▒▒███ ▒▒███▒▒▒▒▒█  ███▒▒▒▒▒███ ▒▒███▒▒▒▒███ 
 ▒███    ▒███  ▒███  █ ▒  ▒███    ▒███  ▒███   ▒▒███
 ▒███████████  ▒██████    ▒███████████  ▒███    ▒███
 ▒███▒▒▒▒▒███  ▒███▒▒█    ▒███▒▒▒▒▒███  ▒███    ▒███
 ▒███    ▒███  ▒███ ▒   █ ▒███    ▒███  ▒███    ███ 
 █████   █████ ██████████ █████   █████ ██████████  
▒▒▒▒▒   ▒▒▒▒▒ ▒▒▒▒▒▒▒▒▒▒ ▒▒▒▒▒   ▒▒▒▒▒ ▒▒▒▒▒▒▒▒▒▒   
*/
/*
 ███████████                       █████       ████ 
▒▒███▒▒▒▒▒███                     ▒▒███       ▒▒███ 
 ▒███    ▒███  ██████   ████████  ███████      ▒███ 
 ▒██████████  ▒▒▒▒▒███ ▒▒███▒▒███▒▒▒███▒       ▒███ 
 ▒███▒▒▒▒▒▒    ███████  ▒███ ▒▒▒   ▒███        ▒███ 
 ▒███         ███▒▒███  ▒███       ▒███ ███    ▒███ 
 █████       ▒▒████████ █████      ▒▒█████     █████
▒▒▒▒▒         ▒▒▒▒▒▒▒▒ ▒▒▒▒▒        ▒▒▒▒▒     ▒▒▒▒▒ 
*/
/*
 ███████████                       █████        ████████ 
▒▒███▒▒▒▒▒███                     ▒▒███        ███▒▒▒▒███
 ▒███    ▒███  ██████   ████████  ███████     ▒▒▒    ▒███
 ▒██████████  ▒▒▒▒▒███ ▒▒███▒▒███▒▒▒███▒         ███████ 
 ▒███▒▒▒▒▒▒    ███████  ▒███ ▒▒▒   ▒███         ███▒▒▒▒  
 ▒███         ███▒▒███  ▒███       ▒███ ███    ███      █
 █████       ▒▒████████ █████      ▒▒█████    ▒██████████
▒▒▒▒▒         ▒▒▒▒▒▒▒▒ ▒▒▒▒▒        ▒▒▒▒▒     ▒▒▒▒▒▒▒▒▒▒ 
*/
/*
 ███████████                       █████        ████████ 
▒▒███▒▒▒▒▒███                     ▒▒███        ███▒▒▒▒███
 ▒███    ▒███  ██████   ████████  ███████     ▒▒▒    ▒███
 ▒██████████  ▒▒▒▒▒███ ▒▒███▒▒███▒▒▒███▒         ██████▒ 
 ▒███▒▒▒▒▒▒    ███████  ▒███ ▒▒▒   ▒███         ▒▒▒▒▒▒███
 ▒███         ███▒▒███  ▒███       ▒███ ███    ███   ▒███
 █████       ▒▒████████ █████      ▒▒█████    ▒▒████████ 
▒▒▒▒▒         ▒▒▒▒▒▒▒▒ ▒▒▒▒▒        ▒▒▒▒▒      ▒▒▒▒▒▒▒▒  
*/


/* 
$$\   $$\ $$$$$$$$\  $$$$$$\  $$$$$$$\  
$$ |  $$ |$$  _____|$$  __$$\ $$  __$$\ 
$$ |  $$ |$$ |      $$ /  $$ |$$ |  $$ |
$$$$$$$$ |$$$$$\    $$$$$$$$ |$$ |  $$ |
$$  __$$ |$$  __|   $$  __$$ |$$ |  $$ |
$$ |  $$ |$$ |      $$ |  $$ |$$ |  $$ |
$$ |  $$ |$$$$$$$$\ $$ |  $$ |$$$$$$$  |
\__|  \__|\________|\__|  \__|\_______/  */
/* 
$$\      $$\  $$$$$$\  $$$$$$\ $$\   $$\ 
$$$\    $$$ |$$  __$$\ \_$$  _|$$$\  $$ |
$$$$\  $$$$ |$$ /  $$ |  $$ |  $$$$\ $$ |
$$\$$\$$ $$ |$$$$$$$$ |  $$ |  $$ $$\$$ |
$$ \$$$  $$ |$$  __$$ |  $$ |  $$ \$$$$ |
$$ |\$  /$$ |$$ |  $$ |  $$ |  $$ |\$$$ |
$$ | \_/ $$ |$$ |  $$ |$$$$$$\ $$ | \$$ |
\__|     \__|\__|  \__|\______|\__|  \__| */
/* 
$$$$$$$$\  $$$$$$\   $$$$$$\ $$$$$$$$\ $$$$$$$$\ $$$$$$$\  
$$  _____|$$  __$$\ $$  __$$\\__$$  __|$$  _____|$$  __$$\ 
$$ |      $$ /  $$ |$$ /  $$ |  $$ |   $$ |      $$ |  $$ |
$$$$$\    $$ |  $$ |$$ |  $$ |  $$ |   $$$$$\    $$$$$$$  |
$$  __|   $$ |  $$ |$$ |  $$ |  $$ |   $$  __|   $$  __$$< 
$$ |      $$ |  $$ |$$ |  $$ |  $$ |   $$ |      $$ |  $$ |
$$ |       $$$$$$  | $$$$$$  |  $$ |   $$$$$$$$\ $$ |  $$ |
\__|       \______/  \______/   \__|   \________|\__|  \__| */












