@font-face {
    font-family: 'Space-bold';
    src:
    url('/fonts/SpaceMono/SpaceMono-Bold.woff2') format('woff2'),
    url('/fonts/SpaceMono/SpaceMono-Bold.woff') format('woff'),
    url('/fonts/SpaceMono/SpaceMono-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'WorkSans-semibold';
    src:
    url('/fonts/WorkSans-SemiBold.woff2') format('woff2'),
    url('/fonts/WorkSans-SemiBold.woff') format('woff'),
    url('/fonts/WorkSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'WorkSans-regular';
    src:
    url('/fonts/WorkSans-Regular.woff2') format('woff2'),
    url('/fonts/WorkSans-Regular.woff') format('woff'),
    url('/fonts/WorkSans-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
html {
    font-family: 'WorkSans-regular';
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color:#2B2B2B;
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 40px;
    padding-bottom: 40px;
}
.page {
    background-color: #2B2B2B;
    width: 1050px;
    height: 1159px;
}
h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
font-weight: inherit;
}
/* --------------------------------------------------НАЧАЛО------------------------------------------------------------------------------------ */
.head  {
    color: #FFFFFF;
    font-family: 'WorkSans-semibold';
    font-size: 51px;
    width: 605px;
    height: 56px;
    margin-bottom: 10px;
}
.data {
    font-size: 22px;
    color:#858584 ;
    width: 605px;
    height: 35px;
    margin-bottom: 30px;
}

h5 {
    font-family: 'Space-bold';
    font-size: 22px;
    color: #858584;
}
.h5_avtor {
    width: 605px;
    height: 35px;
    margin-bottom: 10px;
}
.p_avtor {
    font-family: 'WorkSans-semibold';
    color: #FFFFFF;
    font-size: 22px;
    width: 605px;
    height: 31px;
    margin-bottom: 30px;
}
#uni1 {
    color: red;
}
.s_text{
    width: 605px;
    height: 595px;
    margin-bottom: 30px;
}
.h5_text {
    width: 510px;
    height: 35px;
    margin-bottom: 10px;
}
.text {
    font-size: 22px;
    color: #FFFFFF;
    text-align: left;
    line-height: 160%;
}
.ots {
    margin-top: 30px;
    margin-bottom: 30px;
}
/* .br1 {
    margin-top: 15px;
    margin-bottom: 15px;
} */
.h5_fot {
    width: 605px;
    height: 35px;
    margin-bottom: 10px;
}
.p_fot {
    width: 605px;
    height: 35px;
    margin-bottom: 10px;
    color: #FFFFFF ;
    font-size: 22px;
}
.p_fot2 {
    width: 605px;
    height: 35px;
    margin-bottom: 30px;
    color: #FFFFFF ;
    font-size: 22px;
}
.h5_nav {
    font-family: 'WorkSans-semibold';
    font-size: 22px;
    color: #858584;
    width: 49px;
    height: 31px;
    margin-bottom: 20px;
}
#b1 {
    font-family: 'Space-bold';
    font-size: 16px;
    text-align: center;
    background-color: #3B3B3B;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 20px;
    border: 0px;
    margin-right: 20px;
    width: 150px;
    height: 46px;
    text-transform: uppercase;
    display: inline-block;
}
#b2 {
    font-family: 'Space-bold';
    font-size: 16px;
    text-align: center;
    background-color: #3B3B3B;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 20px;
    border: 0px;
    margin-right: 20px;
    width: 175px;
    height: 46px;
    text-transform: uppercase;
    display: inline-block;
}
.b3 {
    font-family: 'Space-bold';
    font-size: 16px;
    text-align: center;
    background-color: #3B3B3B;
    color: #FFFFFF;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 20px;
    border: 0px;
    margin-right: 20px;
    width: 110px;
    height: 46px;
    text-transform: uppercase;
    display: inline-block;
}