* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* Вроде не слетело))) */
body {background-color: gainsboro;}
.h1 {
    text-align: center;
    color: blue;
    padding: 5px;
}
.h2 {
    text-align: left;
    color: rgb(1, 84, 110);
    padding: 5px;
}
.h3 {
    text-align: left;
    padding: 5px;
    color: rgb(1, 84, 110);
}
.btn {
    border: 2px solid black;
    background-color: greenyellow;
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 20px;
    color: red;
    text-decoration: none;
}
p {
    padding: 10px;
}